<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>casa</display-name>
	 <!--  
            Main configuration file for this Spring web application.  
       -->  
	 <context-param>  
            <param-name>contextConfigLocation</param-name>  
            <param-value>  
                 /WEB-INF/spring-servlet.xml  
            </param-value>  
       </context-param>  
	 <!--  
            Loads the Spring web application context using the config file defined above.  
       -->  
       <listener>  
            <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>  
       </listener> 
	<!--  
            Define the Spring Dispatcher Servlet .  
            The 'contextConfiguration' param with an empty value means that the  
            Spring Context won't try to load a default file called spring-servlet.xml  
        -->  
<!-- 	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet> -->
	
	 <servlet>  
            <servlet-name>spring</servlet-name>  
            <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>  
            <init-param>  
                 <param-name>contextConfigLocation</param-name>  
                 <param-value></param-value>  
            </init-param>  
            <load-on-startup>1</load-on-startup>  
       </servlet>  
	
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	 <error-page>
        <exception-type>org.springframework.web.HttpSessionRequiredException</exception-type>
        <location>/index.jsp</location>
    </error-page>
    <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
</web-app>